<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}ITI Project{% endblock %}</title>
    <style>
      body {
        font-family: system-ui, Arial;
        margin: 24px;
      }
      nav a {
        margin-right: 12px;
      }
      img.thumb {
        height: 60px;
        border-radius: 6px;
        object-fit: cover;
      }
      form > p {
        margin: 0.5rem 0;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/students/">Students</a>
      <a href="/courses/">Courses</a>
    </nav>
    <hr />
    {% block content %}{% endblock %}
  </body>
</html>
